$primary:#DC3C45;
$secondary:#ffffff;
$tertiary:#F2F2F2;
$black:black;
$-border:#DEE2E6;
$-para:#8B9298;
$-client-clr:#F8F9FA;
$-footer-bclr:#343A40;
$footer-clr:#BDBDBD;
$copy:#888B8D;

$font-family: 'Archivo', sans-serif;